<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Management</title>
</head>
<body>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
			{% if action == 'create' %}
				<h3>Create Order</h3>
			{% elif action == 'update' %}
				<h3>Update Order</h3>
			{% endif %}
			
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
			<form action="" method="POST">
            	{% csrf_token %}
				{{ form }}
                <input type="submit" value="Submit"/>
			</form>
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'home page' %}">Home</a>
		</div>
	</div>
</div>
</body>
</html>