
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Profile</title>
</head>
<body>
    <br>
    <div class="row">
        <!-- Employee Info -->
        <div class="col-md">
            <div class="card card-body">
                <h3>Employee: {{employee.name}}</h3>
                <hr>
                <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'update employee' employee.employee_id %}">Update Info</a>    
                <a class="btn btn-primary  btn-sm btn-block" href="{% url 'home page' %}">Home</a>
            </div>
        </div>
    
        <!-- Contact Information -->
        <div class="col-md">
            <div class="card card-body">
                <h4>Contact Information</h4>
                <hr>
                <p>Email:  {{employee.email}}</p>
                <p>Phone Number:  {{employee.phone}}</p>
                <p>Address:  {{employee.address}}</p>
                <p>Position:  {{employee.position}}</p>
                <p>Team Number:  {{employee.team_id}}</p>
                <p>Points:  {{employee.points}}</p>

            </div>
        </div>
    
        <!-- Total Tasks -->
        <div class="col-md">
            <div class="card card-body">
                <h4>Total Tasks: </h4>
                <hr>
                <h2 style="text-align: center;padding: 10px">{{total_tasks}}</h2>
            </div>
        </div>

        <!--
        <div class="col-md">
            <div class="card card-body">
                <h4>Completed Tasks: </h4>
                <hr>
                <h2 style="text-align: center;padding: 10px">{{completed_tasks}}</h2>
            </div>
        </div>
        -->

        <!-- Percent Completion -->
        <div class="col-md">
            <div class="card card-body">
                <h4>Percent Completion: </h4>
                <hr>
                <h2 style="text-align: center;padding: 10px">{{percent_completed}}%</h2>
            </div>
        </div>

        <!--
        <div class="col-md">
            <div class="card card-body">
                <h4>Tasks Assigned to {{ employee.name }}</h4>
                <ul>
                    {% for task in tasks %}
                        <li>{{ task.description }}</li>
                        
                    {% endfor %}
                </ul>
            </div>
        </div>
        -->

        <!-- Tasks In Progress -->
        <div class="col-md">
            <div class="card card-body">
                <h4>Tasks In Progress</h4>
                <hr>
                <ul>
                    {% for task in tasks_in_progress %}
                        <li>{{ task.description }} - Deadline: {{ task.deadline }}</li>
                        <!-- Display other task information as needed -->
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <!-- Completed Tasks -->
        <div class="col-md">
            <div class="card card-body">
                <h4>Completed Tasks</h4>
                <hr>
                <ul>
                    {% for task in completed_tasks %}
                        <li>{{ task.description }} - Deadline: {{ task.deadline }}</li>
                        <!-- Display other task information as needed -->
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Mood Tracker -->
        <div class="col-md">
            <div class="card card-body">
                <h4>Mood Tracker</h4>
                <hr>
                <a class="btn btn-primary btn-sm btn-block" href="{% url 'add mood' employee.employee_id %}">Add Mood</a>
                <hr>
                <h5>Recent Mood Entries:</h5>
                <ul>
                    {% for mood_entry in mood_entries %}
                        <li>{{ mood_entry.get_mood_display }} - {{ mood_entry.date }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Mood Analytics -->
        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <h4>Mood Analytics</h4>
                    <hr>
                    <p>Awful: {{ mood_percentages.Awful }}%</p>
                    <p>Bad: {{ mood_percentages.Bad }}%</p>
                    <p>Neutral: {{ mood_percentages.Neutral }}%</p>
                    <p>Good: {{ mood_percentages.Good }}%</p>
                    <p>Amazing: {{ mood_percentages.Amazing }}%</p>
                </div>
            </div>
        </div>












    </div>      
</body>
</html>